﻿body {
    margin: 0;
    padding:0;
    background:#f4f4f4;
    font-family: Myriad Pro, Arial, Helvetica, sans-serif;
}

/* Top Header Area */

#top-header {
    height: 80px;
    background: #f0f0f0;
    position: relative;
    line-height: 80px;
    box-shadow: 0 0px 160px rgba(0,0,0,0.125);
}

#top-header h4 {
    font-weight: 400;
    padding: 0 27px;
    margin: 0;
    display: inline-block;
    border-right: 1px solid #ddd;
}

#top-header > #right-header-block {
    padding: 0 27px;
    margin: 0;
    display: inline-block;

}

/* Page Layout */

#page-area {
    max-width: 1000px;
    margin: 18px auto;
    padding: 0 18px;
}

/* Intro Area */

#page-area div.intro {
    font-size: .875em;
}

#page-area div.intro hr {
    margin: 7px 0;
}

#page-area form > .heading {
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    margin-top: 10px;
    background: #555;
    color: #f4f4f4;
    border-radius: 3px;
}

/* Request Form UI Elements */


#page-area .ui-project-button {
    height: 40px;
    line-height: 40px;
    margin: 10px 5px;
    text-align: center;
    padding: 0 15px;
    background: #333;
    color: #f4f4f4;
    border-radius: 3px;
    float: left;
}

#page-area .ui-project-button:hover {
    background: #222;
    color: #fff;
    cursor: pointer;
}


#page-area #add-employee-button {
    margin-left: 0px;
}

#page-area #run-button {
    float: right;
    height: 40px;
    line-height: 40px;
    background: rgb(0, 145, 7);
    color: #f4f4f4;
    border-radius: 3px;
    padding: 0 16px;
    margin: 10px 0;
}

#page-area #run-button:hover {
    background: rgb(0, 170, 7);
    cursor: pointer;

}

/* Request Form Common Form Items */

table td > div.input-container > select,
table td > div.input-container > input,
table td > div.input-container > textarea {
    width: 100%;
    height: 100%;
}

form#project-request-form {
    margin: 0;
}

/* Project Details/Critera */

#project-details table {
  width: 100%;
  padding: 0;
  border-bottom: 1px solid #ddd;
  font-size: 11pt;
}

#project-details table th {
    font-weight: 400;
    padding: 10px 7px 4px;
    text-align:left;
}

#project-details table td {
    padding: 0 7px 10px;
}

#project-details table td.col-1 {
    width: 25%;
}

#project-details table td.col-2 {
    width: 50%;
}

#project-details table td.col-1 textarea {
    max-width: 300px;
    min-height: 50px;
}

#project-details table td.col-2 textarea {
    max-width: 550px;
    min-height: 50px;
}

#project-details table td.col-3 {
    width: 0;
}

/* People Requested Counter */

#project-details table td.col-4 {
    text-align: right;
    width: 25%
}

#project-details table th.people-requested-label {
    text-align: right;
    width: 20%;
}

#project-details table td div#people-requested-count {
    font-size: 24pt;
    font-weight: 700;
    text-align: right;
    line-height: 0px;
    display: inline-block;
    padding-top: 16px;
}

#project-details table td span#num-available {
    display: inline-block;
    color: #888;
}

/* Package Criteria/Requesting */

.role-item {
    padding: 0;
    border-bottom: 1px solid #ddd;
    position:relative;
}

.role-item > table {
    width: 100%;
    font-size: 11pt;
}

.role-item > table th {
    font-weight: 400;
    padding: 10px 7px 2px;
    text-align:left;
    font-size: 0.9em;
}

.role-item > table td {
    padding: 0 7px 10px;
}

table td > div.input-container {
    
}

.role-item > table td.col-1 { width: 2%; }
.role-item > table td.col-2 { width: 10%; }  
.role-item > table td.col-3 { width: 22%; } 
.role-item > table td.col-4 { width: 11%; } 
.role-item > table td.col-5 { width: 22%; } 
.role-item > table td.col-6 { width: 11%; } 
.role-item > table td.col-7 { width: 22%; }

.role-item > table td.col-3,
.role-item > table th.col-3,
.role-item > table td.col-5,
.role-item > table th.col-5,
.role-item > table td.col-7,
.role-item > table th.col-7 {
    border-left: 1px solid #ddd;
}

.role-item > table tr.row-2 td.col-1 {
    color: #bbb;
}

.role-item > .x-button {
    color: #aaa;
    position: absolute;
    display: none;
    right: 0;
    top: 2px;
}

.role-item:last-of-type > .x-button {
    display: block;
}

.role-item > .x-button:hover {
    color: red;
    cursor: pointer;
}



/** Results Area(s) **/

/** Log **/

.availpeople-heading {
    padding: 5px 0;
    border-top: 1px solid #ccc;
    margin-top: 12px;
}

.availperson {
    padding: 0 15px;
}

/* Results Pane */

#results-pane-container {
    position: relative;
    margin: 0;
    clear: both;
    border-top: 1px solid #ccc;
}

#results-pane {
    margin: 0 12px;
}


h3.results-header {
    margin: 15px 0 10px;
}

/* Winning Packages */

#results-pane .package-winner .total-value {
    float:right;
}

#results-pane .package-winner {
    padding: 8px 10px 6px;
    border-bottom: 1px solid #ddd;
}

/* Package Valuation */

div.package-valuation{
    padding: 12px;
    border-top: 1px solid #d0d0d0;
}

div.total-value-container {
    padding: 8px 0 5px;
}

div.total-value-container .total-value-label {
    font-size: small;
}

.repr {
    font-family: Consolas, Courier New, Courier;
}

.component-valuation-container {
    font-size: .8em;
    font-family: Consolas, 'Courier New', 'Courier', 'Lucida Console';
}

.component-valuation-container .c-value.label {
    display: inline-block;
    width: 30%;
    min-width: 240px;
    max-width: 500px;
}