body {
  margin: 0;
  background: #333;
  font-family: sans-serif;
  font-size: 12px;
}

div#viewport-container {
  width: 100%;
  display: block;
  position: relative;
}

div#viewport-container  canvas {
  width: 100%;
  height: 100%;
}

#menu-box {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  background: #222;
  text-align: right;
}

input#ratio-input, 
input#factor-input {
  border: 1px solid #ccc;
  padding: 7px 12px 8px;
  background: none;
  color: #ccc;
  text-align: right;
  width: 96px;
}

input#factor-input {
  width: 42px;
  text-align: center;
}

div#ratio-label,
div#factor-label {
  color: #ccc;
  padding: 0 8px 0 12px;
  text-align: right;
}

.menu-item {
  margin: 5px;
  margin-left: 0;
  display: inline-block;
}

div.action-button {
  border: 1px solid #ccc;
  padding: 8px 12px;
  display: inline-block;
  color: #ccc;
}

.menu-item:first-child {
  margin-left: 5px;
}

div.action-button:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: rgba(255,255,255,0.1);
  cursor: pointer;
}