      BODY {
	color: #222;
	font-size: 12px;
	font-family: Open Sans, Verdana, Arial;
	margin: 0;
	background: #4096c2 url(hpBg.png) 0 123px repeat-x;
      }
      a {
	text-decoration: none;
      }
      a:hover {text-decoration: underline;}
      #headerArea {
	height: 122px;
	position: relative;
	z-index: 50;
	width: 100%;
	margin: 0 0 0px 0;
//	background: #f4f4f4;
	box-shadow: 0 1px 3px #274775;
	background: #ccE4FF;//#5FeD40;
      }
      #headerBG {
	position: absolute;
	background: url(appvilBanner7.jpg) -55px 0px;//;#5FeD40;
	width: 100%;
	height: 100%;
	opacity: 0.05;
	z-index: -10;
      }
      #loginRegister {
	position: absolute;
	top: 0;
	color: #fff; //#aFFDa0;
	right: 10px;
	border: 1px solid #0B486B;
	border-top: none;
	padding: 2px 7px;
	background: #0B486B;
	font-size: 11px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	z-index: 100;
      }
      #topMenu {
//	border-top: 1px solid #0B486B;
	height: 42px;
	position: absolute;
	width: 100%;
	top: 80px;
//	border-top: 1px solid #307695; //#306B5A;//#19C324;
	background: #CBE3FF; //#90cBFA;//#0B486B;//#CBE3FF;
      }
      #topMenu #topMenuList {
	list-style-type: none;//lower-greek;
	font-size: 1.1em;
	font-weight: 600;
	font-family: Open Sans;
	margin: 12px 0 0 10px;
      }
      #topMenu #topMenuList li {
	float: left;
	color: #51a4ce;
	margin: 0 20px 0 0;
	height: 24px;
      }
      #topMenu #topMenuList li a, #catButton {
	//color: #51a4ce;//#2164aE;
	color: #357596;
	display: block;
	height: 100%;
	margin-left: 30px;
      }
      #topMenu #topMenuList li a:hover, #catButton:hover {
	text-decoration: none;
	color: #357596;
      }

      #homeLink {background: url('icons/home-icon.png') no-repeat 0 -2px;}
      #homeLink:hover {background: url('icons/home-icon-active.png') no-repeat 0 -2px;}
      #appsLink {background: url('icons/apps-icon.png') no-repeat 0 -2px;}
      #appsLink:hover {background: url('icons/apps-icon-active.png') no-repeat 0 -2px;}
      #communityLink {background: url('icons/community-icon.png') no-repeat 0 -4px;}
      #communityLink:hover {background: url('icons/community-icon-active.png') no-repeat 0 -3px;}
      #helpLink {background: url('icons/contact-icon.png') no-repeat 0 -3px;}
      #helpLink:hover {background: url('icons/contact-icon-active.png') no-repeat 0 -2px;}

      #genSearch {
	float: right;
	margin: -6px 8px 0 0;
      }


      #genSearch input {
	margin-left: 0;
	color: #567C8B;//#51A4CE;
	padding: 4px;
	border-radius: 0;
	border: 1px solid #769CAB;//#70BBDA;
	background: none;//#90CBFA;
      }

      #genSearch input:hover, #genSearch input:focus {
	color: #fff;
	background:#3184bE;
	box-shadow: 1px 2px 3px #0b283b;
	border-color: #3184bE;
      }

      #pageWrapper {
	width: 100%;
	min-width: 1224px;
      }
      #dWrapper {
	width: 800px;
	margin: 0px 0 0 0px;
	z-index: 10;
	float: left;
//	background: #4096c2 url(hpBg.png) 0 0px repeat-x;
	overflow: hidden;
	min-height: 540px;
      }
      #contentArea {
	padding: 10px 10px;
	width: 800px;
//	overflow: hidden; 
	float: left;
	min-height: 385px;
	min-width: 780px;
      }
      #pageTitle {
//	background: #2174aE url(titleBg.png) 0 -20px repeat-x;
	padding: 8px 20px;
//	margin: -10px -20px 10px -20px;
	margin: 0px -10px 10px -10px;
	color: #fff;
	font-size: 1.3em;
	text-shadow: 1px 1px 3px #333;
	//border-bottom: 1px solid #01446e;
//	box-shadow: 0 1px 3px #01244e;
	display: none;
      }

      #leftWhiteBar {
	width: 242px;
	height: 0px;
	float: left;
	margin-right: -242px;
	background: url(http://ics.com/img/layout/whiteFade.png) 100% 0 repeat-y;
	margin-top: 370px;
	display: none;
      }

      #leftBar {
	padding: 0px 10px 0 20px;
	background: #0B486B;//url('hpAppBg.png');
	background-size: 100% 100%;
	border: 1px solid #2B6997;//#0B385B;
//	border: 1px solid #0B385B;
	width: 200px;
	z-index: 10;
	height: 400px;
	color: #eee;
//	border-right: 1px solid #0B385B;
	margin: 10px 0px 10px 10px;
	float: left;
	border-radius: 4px;
	overflow: hidden;
      }
      .leftHeader {
	background: #5FA1CF url(titleBg.png) 0 -20px repeat-x;
	padding: 8px 20px;
	margin: 0px -10px 10px -20px;
	color: #fff;
	font-size: 1.2em;
	text-shadow: 1px 1px 3px #333;
	//border-bottom: 1px solid #01446e;
	box-shadow: 0 1px 3px #01244e;
	font-family: Open Sans;
	text-align: center;
      }


      .leftInner {
	margin: 0;
      }
      .leftForm {
	background:#2B688B;
	padding: 4px;
	margin: 1px 0px 10px 0px;
	color: #fff;
	border: 1px solid #1b485b;
	border-radius: 3px;
      }
      .leftForm:hover, .leftForm:focus {
	background:#3184bE;
	box-shadow: 1px 2px 3px #0b283b;
	color: #fff;
      }


      #advSearchOptLink {
	border-top: 1px solid #0B385B;
	border-bottom: 1px solid #0B385B;
	background:#0B486B;
	padding: 8px 20px;
	text-align: left;
	margin: 0px -10px 0px -20px;
	color: #fff;
//	border-top-left-radius: 5px;
//	border-top-right-radius: 5px;
      }

      #advSearchOptLink:hover {
	cursor: pointer;
	background: #14567C;
      }

      #advSearchOpts {
	background:#0B385B;
	margin: -117px -10px 0px 220px;
	transition: 1s ease-out;
	-webkit-transition: 1s ease-out;
	-moz-transition: 1s ease-out;
	overflow: hidden;
	padding: 25px 25px 30px 20px;
	position: absolute;
	min-height: 192px;
      }

      #advSearchOpts .advSection {
	float: left;
	width: 28%;
	margin: 0 10px;
      }

      #advSearchOpts a {
	padding: 0 3px;
	margin: 2px 2px 1px 1px;
	display: inline-block;
	text-align: center;
	width: 10px;
	border: 1px solid #ccc;
      }

      #advSearchOpts a:hover {
	text-decoration: none;
	border: 1px solid #4D91B3;
	cursor: pointer;
      }

      #desktopAllLabel, #tabletAllLabel, #mobileAllLabel{
	display:none;
	color:#aaa;
	float: right;
	margin-top: 5px;
	margin-right: 2px;
      }

      #desktopAllLabel:hover, #tabletAllLabel:hover, #mobileAllLabel:hover {
	text-decoration: underline;
	cursor: pointer;
      }

      .button:hover {
	cursor: pointer;
	font-weight: bold;
      }
      #catDropDown {
	position: absolute;
	width: 342px;
	height: auto;
	background: #fff;
	visibility: hidden;
	z-index: 60;
	border: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	color: #000;
	padding: 8px;
	margin-top: 6px;
      }  
      .categoryItem {
	font-weight: normal;
	padding: 5px 10px;
	background: #f4f4f4;
	margin: 0 1px 1px 0;
	float:left;
	width: 150px;
      } 
      .categoryItem:hover {
	background: #fff;
      } 
      #multiContainer {
	width: auto;
//	border: 1px dashed #fff;
	margin: 0 0px 40px 0px;
	min-width: 775px;
      }

    /*** HTML Slides ***/

      #slideFull {
	margin: 0 auto;
	width: 775px;
	height: 320px;
	overflow: hidden;
      }

      #slideCarousel {
	margin: 0 auto;
	width: 10000px;
	transition: 1.2s;
	-webkit-transition: 1.2s;
	-o-transition: 1.2s;
	-moz-transition: 1.2s;
	
      }

      .slideImage {
	width: 200px;
	height: 200px;
	float: left;
	margin: 65px 0 0px 130px;
//	margin: 65px 0px 0px 1000px;
	box-shadow: 0px 2px 10px #555;
	border: 5px solid #fff;
	opacity: 0;
	transition: 1.2s;
	-webkit-transition: 1.2s;
	-o-transition: 1.2s;
	-moz-transition: 1.2s;
      }


      .slideTitleTextBox {
	float: left;
	margin: 25px -90px 0 150px;//25px 0 0 60px;
//	margin: 25px 0px 0 1000px;
	transition: 1.8s;
	-webkit-transition: 1.8s;
	-o-transition: 1.8s;
	-moz-transition: 1.8s;
	opacity: 0;
      }

      .showImg {
	margin-left: 50px;
	opacity: 1;
      }

      .showSTST {
	opacity: 1;
	margin: 25px 0 0 60px;
      }

      .slideTitle {
	width: 400px;
	margin: 15px auto 15px auto;
	color: #CBE3FF;
	font-size: 2em;
	font-weight: bold;
	text-shadow: 0 1px 3px #555;
      }

      .slideText {
	width: 400px;
	font-family: Verdana;
	font-size: 1.1em;
	line-height: 1.5em;
	margin: 0 auto;
	font-weight: 500;
	color: #fff;
      }

      .slideText span {
//	background: #88B4D0;
      }

      .slideLink {
	float: right;
	display: block;
      }

      #slideControls {
	clear: both;
	margin: 0 10px 0 5px;
      }

      #slideControls a {
	height: 50px;
	text-align: center;
	width: 40px;
	font-size: 2em;
	color: #58a3c9;
	display: block;
	margin-top: -170px;
	border: none;
      }

      #slideControls a:hover {
	text-decoration: none;
	cursor: pointer;
      }

      #slideGoPrev {
	float: left;
	background: url(leftArr.png);
      }

      #slideGoNext {
	float: right;
	background: url(rightArr.png);
      }

      #slideGoPrev:hover {background-image: url(leftArrActive.png);}
      #slideGoNext:hover {background-image: url(rightArrActive.png);}

      #slideThumbs {
	float: right;
	margin: 0 20px 0 0;
	color: #58A3C9;
      }

      #slideThumbs a {
	border: 1px solid #58A3C9;
	width: 20px;
	height: 18px;
	padding-top: 2px;
	text-align: center;
	display: block;	
	float: left;
	margin-right: 5px;
	border-radius: 8px;
      }

      #slideThumbs a:hover {
	border: 1px solid #fff;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
      }


     /*** *** ***/


      .hpAppCont {
	width: 150px;
	height: 150px;
	border: 1px solid #fff;
	padding: 0px;
	margin: 10px 10px 20px 10px;
	float: left;
	background-size: auto 200%;
	overflow: hidden;
	background: #ddd;
      }
      .brAppCont {
	width: 100px;
	height: 80px;
	border: 1px solid #bbb;
	padding: 8px;
	margin: 10px;
	float: left;
	background: #ddd;
      }
      .hpAppCont:hover, .brAppCont:hover {
	cursor: pointer;
	background: #f4f4f4;
	opacity: 0.9;
      }
      #appContainer {
	margin: 10px;
	border: 1px solid #999;
	width: auto;
	padding: 10px;
	background: #fff;
	border-radius: 5px;
      }
      #appName {
	font-weight: bold;
	color: #000;
	font-size: 1.3em;
	font-family: Helvetica;
      }
      #appDesc {
	font-size: 1em;
      }
      #appPrice {
	color: #222;
	font-size: 1em;
      }
      #appDownload {
	display: block;
	background: #c60;
	color: #fff;
	padding: 3px 5px;
	width: 165px;
	margin-top: 5px;
      }
      .hpAppName {
	color: #000;
	display: block;
	padding: 10px;
	background: url('hpAppBg.png');
	//background-size: 1px 100%;
	padding: 7px 12px 8px 8px;
	margin-top: 80px;
	box-shadow: 0px 1px 30px #000; 
      }
      .hpHeader {
	font-size: 1.1em;
	color: #337492; 
	font-weight: 600;
	font-family: Open Sans;
      }
      #hpContent {
	min-width: 300px;
	min-height: 300px;
	padding: 16px;
	margin: 0px -10px -10px -12px;
	float:left;
	background: #fff;
      } 

      #hpCommunity {

      }
      #hpGoogleApps, #hpNewestApps {
	padding: 15px;
	margin: 0px 10px 10px 10px;
	border: 1px solid #999;
	background: #fff;
	border-radius: 8px;
	float: left;
	width: 330px;
	transition: 1s;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	height: 140px;
	overflow: hidden;
      }
      #hpGoogleApps:hover, #hpNewestApps:hover {
	height: 300px;
      }
      .hpGoogleApp {
	height: 100px;
	width: 100px;	
	float: left;
	margin: 5px;
	border-radius: 10px;
      }
      .hpGoogleApp:hover {
	cursor: pointer;
      }
      .gaAppName {
	background: none;
	margin: 15px 0 0 2px;
	display: block;
      }
      .hpPost {
	padding: 0 10px;
	line-height: 18px;
	margin-bottom: 20px;
      }

      #rightColumn {
	width: 180px;
	height: 500px;
	border: 1px dashed #0D3D70;
	position: absolute;
	right: 20px;
	margin-top: 20px;
	background: rgba(37, 91, 133, 0.5);
      }

      #belowContent {
	clear: both;
	position: relative;
	background: #204D6F;
	min-height: 200px;
	overflow: hidden;
	padding-bottom: 30px;
      }


      #footerCopyright {
	color: #ddd;
	width: 1200px;
	margin: 20px auto 0 auto;
	padding-bottom: 12px;
      }

      #copyrightLinks {
	float: right;
	margin-right: 20px;
      }

      #copyrightLinks a {
	color: #ddd;
      }

      #footerBlockHeader {
	margin: 6px auto 0;
//	width: 1200px;
	color: #ccc;
	height: 5px;
	background: #214561;
	overflow: visible;
	padding: 20px 0;
//	border-top: 5px solid #3471A0;
	border-bottom: 1px solid #2D5581;
      }


      .footerBlock {
	float: left;
	width: 219px;
	padding: 0 10px 5px 10px;
	border-left: 1px solid #2D5581;
      }

      .footerBlock hr {
	border: none;
	margin-right: 0px;
	height: 1px;
      }

      .footerBlock b {
	letter-spacing: 1px;
      }

      .footerBlock a:hover {
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
      }


