BODY {
  margin: 0;
  background: #cedae4;
  font-family: sans-serif;     /* web safe fonts */
  font-size: 75%;    /* 12px */
  font-weight: normal;
  line-height: 160%;    /* 19.2px */
  height: 100%;
  transition: background 0.5s;
  text-align: justify;
}

BODY.loading {
  transition: 0s;
  background: #fff;
}

/** Type **/

h1 {
  font-size: 2.5em;
  font-weight: normal;
  font-family: Open Sans, sans-serif;
  text-align: left;
}

h2 {
  font-size: 1.75em;
  font-weight: normal;
  font-family: Open Sans, sans-serif;
  text-align: left;
}

h3 {
  font-size: 1.25em;
  font-weight: bold;
  font-family: Open Sans;
  text-align: left;
}

h4 {
  font-size: 1.1em;
  font-weight: bold;
  text-align: left;
}

h5 {
  font-size: 1em;
  font-weight: bold;
  text-align: left;
}

h6 {
  font-size: 0.8em;
  font-weight: bold;
  text-align: left;
}

#headerArea {
  height: 64px;
  position: relative;
  background: #DCE5EE url('../images/header-bg-2.png') repeat-x 0px bottom;
  background-size: 1px 70px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
  z-index: 5;
}

body.mobile #headerArea {
  height: 112px;
}

#headerArea #brandingArea {
  width: auto;
  height: inherit;
  margin: 0;
  position: relative;
  background: inherit;
}

#headerArea #brandingArea #logo-container {
  width: 320px;
  position: relative;
  height: inherit;
  display: block;
  background: inherit;
}

#headerArea #brandingArea #logo {
  border: none;
  display: block;
  margin: 0 auto;
  padding-top: 9px;
  max-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 280px;
  z-index: 20;
  position: relative;
}

/** Menu **/

#headerArea #primary-menu-wrapper {
  position: absolute;
  top: 22px;
  width: 100%;
}

body.past_22px #headerArea #primary-menu-wrapper {
  position: fixed;
  top: 0;
}

body.mobile #headerArea #primary-menu-wrapper {
  position: absolute;
  top: auto;
  bottom: 0;
}

#headerArea #primary-menu {
  box-shadow: -1px -2px 15px -3px rgba(0,0,0,0.4);
  background: #406377;
  display: block;
  margin: 0 0 0 320px;
  width: auto;
  font-family: Open Sans,sans-serif;
  font-size: 1em;
  font-weight: 500;
  height: 42px;
  padding: 0px;
  position: relative;
  border-radius: 5px 0px 0px 0px;
}

body.past_22px #headerArea #primary-menu {
  border-radius: 0;
  box-shadow: 0 2px 15px -3px rgba(0,0,0,0.5);
}

body.mobile #headerArea #primary-menu {
  margin-left: 0px;
  border-radius: 0;
}

#top-menu {
  background: none;
  background-position: left center;
  background-repeat: no-repeat;
  height: 25px;
  margin: 0px;
  padding: 13px 15px 0 20px;
  float: left;
}

#top-menu > li {                       /* top item layout */
  background: transparent;
  float: left;    /* LTR */
  height: 24px;
  color: #57A6CD;
  list-style-position: outside;
  list-style-type: none;
  margin: 0 4px 0 25px;
  padding: 0 0 0 8px;
  width:  auto;
}


#top-menu > li a {
  display: block;
  color: #C0D6E0;
  height: 19px;
  font-size: 1.1em;
  margin: 0px 1px 0 0;
  padding: 0 0 0 27px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

#top-menu > li:hover > a,
#top-menu > li.open > a {
  color: #8bbfd6;
}


#top-menu > li.expanded > a:hover:after,
#top-menu > li.expanded.open > a:after {
  display: block;
  position: absolute;
  font-size: 9px;
  color: #a8e1ef;
  top: 13px;
  margin-left: 40px;
  content: "\25bc";
}

/** Top Menu Icons **/

#top-menu > li > a {
  background-image: url('../images/main-menu-icons-3.png');
  background-repeat: no-repeat;
}

#top-menu > li:hover > a,
#top-menu > li:hover > a.active,
#top-menu > li.open > a {
  background-image: url('../images/main-menu-icons-2.png');
  background-repeat: no-repeat;
}

#primary-menu ul.menu li a#sc-menu-home {
  background-position: 0px 0px;
}

#primary-menu ul.menu li a#sc-menu-my-products {
  background-position: 0px -38px;
}

#primary-menu ul.menu li a#sc-menu-all-products {
  background-position: 0px -76px;
}

#primary-menu ul.menu li a#sc-menu-support {
  background-position: 0px -114px;
}

#primary-menu ul.menu li a#sc-menu-manage {
  background-position: 0px -152px;
}

#primary-menu ul.menu li a#sc-menu-admin {
  background-position: 0px -190px;
}

#primary-menu ul.menu li a#sc-menu-help {
  background-position: 0px -228px;
}

/** Drop Down Menus **/

#top-menu > li > div.menu-shell {
  position: absolute;
  top: 32px;
  left: 0px;
  background: #ddd;
  padding: 0px;
  width: 100%;
  display: none;
}
/*
#top-menu > li.open > div.menu-shell {
  display: block;
}
*/
/** All Products Menu Styling **/

#top-menu > li > div.menu-shell.all-products {
  border-top: 10px solid #406377;
  border-bottom: 0px solid #305367;
  background: #305367;
  padding-bottom: 20px;
}

body.past_22px #top-menu > li > div.menu-shell.all-products.touch-bottom {
  border-bottom-width: 7px;
  padding-top: 15px;
}

#top-menu > li > div.menu-shell #groups-container,
#top-menu > li > div.menu-shell #groups-children-container,
#top-menu > li > div.menu-shell #groups-info-container {
  background: #406377;
  overflow-y: auto;
  overflow-x: hidden;
  width: 320px;
  float: left;
  height: inherit;
  margin: 0 10px 0;
  transition: width 1s, margin 1s, opacity 1s, height 1s;
}

body.loading #top-menu > li > div.menu-shell #groups-container,
body.loading #top-menu > li > div.menu-shell #groups-children-container,
body.loading #top-menu > li > div.menu-shell #groups-info-container {
  transition: 0s;
}

body:not(.mobile) #top-menu > li > div.menu-shell #groups-container {
  margin-left: 20px;
}

body.mobile #top-menu > li > div.menu-shell #groups-container,
body.mobile #top-menu > li > div.menu-shell #groups-children-container,
body.mobile #top-menu > li > div.menu-shell #groups-info-container {
  float: none;
  height: auto;
  width: auto !important;
}

#top-menu > li > div.menu-shell #groups-children-container.hidden {
  width: 0px;
  margin: 0 0px;
  opacity: 0;
}

body.mobile #top-menu > li > div.menu-shell #groups-children-container.hidden {
  width: 320px;
  margin: 0 10px;
  height: 0px;
  opacity: 0;
}

#top-menu > li > div.menu-shell #groups-info-container.hidden {
  opacity: 0;
}

#top-menu > li > div.menu-shell .heading {
  position: relative;
  overflow: hidden;
  height: 34px;
  line-height: 34px;
  font-size: 1.2em;
  padding: 0 12px;
  background: #305367;
  color: #b9d4e2;
}

#top-menu > li > div.menu-shell #groups-container > .group.item {
  position: relative;
}

#top-menu > li > div.menu-shell #groups-container > .group.item > a {
  display: block;
  margin: 0;
  text-align: left;
  background: #406377;
  padding: 0 16px;
  height: 28px;
  line-height: 28px;
  color: #fff;
}

#top-menu > li > div.menu-shell #groups-container > .group.item:hover > a,
#top-menu > li > div.menu-shell #groups-container > .group.item.highlighted > a,
#top-menu > li > div.menu-shell #groups-container > .group.item.highlighted-parent > a {
  background: #507387;
}

#top-menu > li > div.menu-shell #groups-container > .group.item > a.expanded:after {
  content: "\2794";
  float: right;
  padding: 0 0 0 5px;
  opacity: 0.2;
}

#top-menu > li > div.menu-shell #groups-container > .group.item.highlighted-parent > a.expanded:after {
  opacity: 0.5;
}

#top-menu > li > div.menu-shell #groups-children-container > .menu-shell.group-children {
  position: relative;
  display: none;
}

#top-menu > li > div.menu-shell #groups-children-container > .menu-shell.group-children.visible {
  display: block;
}

#top-menu > li > div.menu-shell #groups-children-container > .menu-shell.group-children > .group.item.child > a {
  display: block;
  margin: 0;
  text-align: left;
  background: #406377;
  padding: 0 16px;
  height: 28px;
  line-height: 28px;
  color: #fff;
}

#top-menu > li > div.menu-shell #groups-children-container > .menu-shell.group-children > .group.item.child:hover > a,
#top-menu > li > div.menu-shell #groups-children-container > .menu-shell.group-children > .group.item.child.highlighted > a {
  background: #507387;
}

#top-menu > li > div.menu-shell #groups-info-container > #group-description {
  padding: 5px 16px;
  color: #eee;
  transition: opacity 0.5s;
}

#top-menu > li > div.menu-shell #groups-info-container > #group-name {
  padding: 12px 12px 5px;
  color: #fff;
  font-size: 1.5em;
  transition: opacity 0.5s;
}

/** Body Area **/

#body-area {
  background: #cedae4;
}

/** Left Bar **/

#leftBar-wrapper {
  width: 320px;
  float: left;
  position: absolute;
  z-index: 50;
}

body.past_64px #leftBar-wrapper {
  top: 0px;
  position: fixed;
}

body.mobile #leftBar-wrapper {
  width: auto;
  float: none;
  position: relative;
  top: 0px;
  z-index: 1;
}

#leftBar {
  overflow: hidden;
  background-color: #0B486B;
  transition: 0.5s;
}

body.past_64px #leftBar {
  margin: 0;
  border-radius: 0;
}

#leftBar > div.heading {
  background: #406377;
  padding: 0 20px;
  height: 42px;
  line-height: 42px;
  margin: 0 0 10px;
  color: #FFF;
  font-size: 1.2em;
  text-shadow: 1px 1px 3px #333;
  box-shadow: 0px 1px 4px -2px #01244E;
  font-family: Open Sans;
  text-align: center;
}

#leftBar > div.inner {
  color: #eee;
}

#leftBar > div.inner > .section {
  padding: 0 20px 15px;
}

/** Filters **/

div.section.filters a.expand-button-link {
  padding: 0px 3px;
  margin: 4px 3px 1px 1px;
  display: inline-block;
  text-align: center;
  width: 12px;
  border: 1px solid #CCC;
}

#filter-box-mobile,
#filter-box-desktop,
#filter-box-tablet {
  display: none;
  margin: 8px 0 8px 15px;
}

/** Recently Viewed **/

#leftBar #recently-viewed-links-container  {
  padding: 0 0 10px 0;
}

#leftBar #recently-viewed-links-container a.recently-viewed-link {
  display: block;
  color: #eee;
  text-decoration: none;
  padding: 5px 12px;
}

/** Content Area **/

#contentArea-wrapper {
  float: left;
  left: 320px;
  position: relative;
}

body.mobile #contentArea-wrapper {
  left: 0;
}

#contentArea {
  font-family: Open Sans;
  opacity: 1;
  position: relative;
  transition: opacity 1s;
}

body.loading #contentArea {
  opacity: 0;
}

#contentArea-wrapper #loader-icon {
  padding: 20px 0 30px;
  background: #fff;
  display: block
  margin: 0 auto;
  width: inherit;
  text-align: center;
  position: absolute;
  transition: opacity 1s;
  top: 0;
  opacity: 0;
}

body.loading #contentArea-wrapper #loader-icon {
  opacity: 1;
  transition: opacity 1s 0.5s;
}

#loader-icon span {
  font-size: 36px;
  font-weight: 300;
  font-family: Open Sans, sans-serif;
  padding-left: 10px;
  padding-bottom: 20px;
  opacity: 0.2;
}

/** Apps Header **/

#contentArea #apps-header {
  padding: 15px 60px 16px;
  font-size: 1.8em;
  color: #fff;
  font-weight: 300;
  background-color: #829aab;
  text-shadow: 0 1px 4px rgba(20,20,20, 0.5);
  border-bottom: 1px solid #7596a7;
  
  background: #94a9b7; /* Old browsers */
  background: -moz-linear-gradient(45deg, #94a9b7 0%, #8ca1af 40%, #607989 70%, #758a99 90%, #6c808e 90%, #829aab 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#94a9b7), color-stop(40%,#8ca1af), color-stop(70%,#607989), color-stop(90%,#758a99), color-stop(90%,#6c808e), color-stop(100%,#829aab)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #94a9b7 0%,#8ca1af 40%,#607989 70%,#758a99 90%,#6c808e 90%,#829aab 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #94a9b7 0%,#8ca1af 40%,#607989 70%,#758a99 90%,#6c808e 90%,#829aab 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #94a9b7 0%,#8ca1af 40%,#607989 70%,#758a99 90%,#6c808e 90%,#829aab 100%); /* IE10+ */
  background: linear-gradient(45deg, #94a9b7 0%,#8ca1af 40%,#607989 70%,#758a99 90%,#6c808e 90%,#829aab 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94a9b7', endColorstr='#829aab',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/** Apps in a Grid **/

#contentArea #apps-container-heading {
  background: #708997;
  padding: 0 60px;
  height: 42px;
  line-height: 42px;
  color: #fff;
  font-family: Open Sans, sans-serif;
  font-size: 1.2em;
  text-align: left;
}

#contentArea #apps-container.grid {
  margin-left: 5px;
  margin-top: 5px;
  transition: margin 0.5s;
}

body.past_64px #contentArea #apps-container.grid {

}

#contentArea div.app.grid {
  background: #fff;
  padding: 15px 15px 10px;
  margin: 5px;
  border: 1px solid transparent;
  border-radius: 6px;
  width: 120px;
  float: left;
}

#contentArea div.app.grid:hover {
  border-color: #aaa;
  box-shadow: 0 1px 5px rgba(0,0,0,0.25);
}

div.app.grid div.app-grid.icon-container {
  max-width: 120px;
  height: 120px;
  margin: 0;
}

div.app.grid img.app-grid.icon {
  max-width: 120px;
  max-height: 120px;
  margin: 0 auto;
  display: block;
}

div.app.grid div.app-grid.name {
  text-align: center;
  padding: 10px 0 0;
  font-size: 1.15em;
  min-height: 40px;
}

/** Sub-Categories **/

#contentArea #child-groups {
  clear: both;
  padding-top: 5px;
}

#contentArea #child-groups:nth-child(2) {
  padding-top: 0;
}

#contentArea #child-groups .heading {
  background: #708997;
  padding: 0 60px;
  height: 42px;
  line-height: 42px;
  color: #fff;
  font-family: Open Sans, sans-serif;
  font-size: 1.2em;
  text-align: left;
}

#contentArea #child-groups #child-groups-container {
  margin: 5px; 
}

