@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700|Droid+Sans:400,700);

body {
  margin: 0;
  font-family: Droid Sans;
}

a {
  color: inherit;
  text-decoration: none;
}

p a, td a {
  color: #773300;
}

p a:hover, td a:hover {
  color: #bb4400;
}

h3 a:hover {
  color: #994400;
}

div#header {
  height: 50px;
  width: 100%;
  background: #eee;
  padding: 0;
  min-width: 800px;
  border-bottom: 1px solid #ccc;
}

div#header h3 {
  font-family: Roboto;
  font-weight: 300;
}

div#header h3.header-item {
  float: left;
  height: 50px;
  /* padding: 14px 20px 13px 20px; */
  margin: 0;
}

div#header a:hover h3,
div#header a:hover h4,
div#header a:hover h5 {
  background: #f8f8f8;
}

div#header h4.header-item,
div#header h5.header-item  {
  float: left;
  font-family: Roboto;
  margin: 0;
  height: 50px;
  background: #f5f5f5;
  font-size: 1.4em;
  border-left: 1px dotted #ccc;
  font-weight: 300;
}

div#header h3.header-item span {
  padding: 12px 20px 0 20px;
  display: block;
}

div#header h4.header-item span {
  padding: 9px 14px 0;
  display: block;
}

div#header h5.header-item span {
  padding: 12px 14px 0;
  display: block;
}

div#header h5.header-item  {
  font-size: 14pt;
  /*padding: 12px 14px 13px;*/
}

a h4.header-item img,
a h5.header-item img  {
  display: inline-block;
  margin-bottom: -5px;
  margin-right: 13px;
}

div#header a.view-link .header-item {
  border-right: 1px dotted #ccc;
}

div#header div.header-item {
  float: right;
  padding: 14px 20px 0;
}

div#header h3.header-item span.newsletter-name {
  font-weight: 500;
}

div#header div.header-item form {
  display: inline-block;
}

div#header div.header-item label {
  font-size: .9em;
}

div#header div.header-item select {
  height: 22px;
  margin-left: 3px;
  width: 200px;
}

div#header div.header-item button {
  margin: 0;
}

div#page-preface {
  padding: 10px 26px;
  background: #ddd;
  color: #444;
  font-weight: 600;
  border-bottom: 1px solid #bbb;
  letter-spacing: 0px;
  font-family: Roboto;
}

div#page-preface a:hover {
  color: rgb(247, 109, 2);
}

div#page-body {
  padding: 20px;
  padding-bottom: 0;
}

div#page-body.overview {
  padding: 30px;
}

div#page-body.overview h4 {
  margin: 36px 0 18px;
  font-weight: 300;
  font-size: 1.1em;
  font-family: Roboto;
}

div#page-body.overview table {
  width: 100%;
  padding: 0 0 0 27px;
  border-left: 1px dotted #222;
  border-spacing: 0;
  font-size: .95em;
}

div#page-body.overview table th {
  font-family: Roboto;
  text-align: left;
  padding: 6px 8px 5px;
  background: #f4f4f4;
  border-bottom: 1px solid #B6A88C;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

div#page-body.overview table th:last-child {
  border-right: 1px solid #ccc;
}

div#page-body.overview table td {
  padding: 8px 14px;
  min-height: 36px;
  background: #FFF9EF;
  border-bottom: 1px solid #E5D3AE;
}

div#page-body.overview table tr td:last-child {
  border-right: 1px solid #E5D3AE;
}

div#page-body.overview table td.edit-link {
  background: #F1DEB9;
  width: 1%;
  border-right: 1px solid #E7D58C;
  border-left: 1px solid #E7D58C;
}

div#page-body.overview table td.edit-link a {
  color: #fff;
  display: block;
  background: #C28E34;
  padding: 8px 12px;
  margin: 0 -7px;
  font-size: 0.85em;
  font-family: Roboto;
  border-radius: 3px;
  text-align: center;
  width: 50px;
}

div#page-body.overview table td.edit-link a img{
  display: inline-block;
  margin: -2px 0;
  float: left;
}

div#page-body.overview table td.view-link a img{
  display: inline-block;
  margin: -10px 10px -7px 0;
}

div#page-body.overview table td.edit-link a:hover {
  background: #A27322;
}

div#page-body.overview table td.uniqueId {
  background: #F1DEB9;
  width: 15%;
}

div#page-body.overview table td.items-count {
  width: 5%;
}

div#page-body .centered-width {
  margin: 0 auto;
  max-width: 1100px;
}

div#page-body.edit h3.section-header {
  font-family: Roboto;
  font-weight: 300;
}

div#page-body.edit form div.input {
  padding: 9px 0;
  position: relative;
}

div#page-body.edit form div.input.primary-content, 
div#page-body.edit form div.input.secondary-content  {
  margin-top: 10px;
  margin-bottom: 18px;
}

div#page-body.edit form #newsletter-title-input  {
  border-bottom: 1px solid #ccc;
  height: 28px;
  padding-top: 18px;
  margin-bottom: 27px;
  border-top: 1px solid #ccc;
}

div#page-body.edit form #newsletter-title-input label {
  display: block;
  margin-bottom: -14px;
  padding-bottom: 0px;
}

div#page-body.edit form #newsletter-title-input input[type="text"] {
  float: right;
  width: 50%;
  margin-top: -10px;
}
div#page-body.edit form div.input.ui-sortable-helper table tr:nth-child(2),
div#page-body.edit form div.input.ui-sortable-helper table tr:nth-child(3),
div#page-body.edit form div.input.ui-sortable-helper table tr:nth-child(4),
div#page-body.edit form div.input.ui-sortable-helper table tr:nth-child(5) {
  display: none;
}

div#page-body.edit form div.input.ui-sortable-placeholder {
  height: 80px !important;
}

div#page-body.edit form div.input .tab-container {
  position: absolute;
  top: -7px;
  right: 0;
}


div#page-body.edit form div.input .tab-container .tab {
  display: block;
  float: right;
  padding: 3px 9px;
  background: #4b4b4b;
  color: #fff;
  font-size: 10px;
  margin: 0 0 0 5px;
}

div#page-body.edit form div.input .tab-container .tab.delete {
  background: #D6A9A9;
}

div#page-body.edit form div.input .tab-container .tab.reusable {
  background: #ccc;
}

div#page-body.edit form div.input .tab-container .tab.delete:hover,
div#page-body.edit form div.input.marked-deletion .tab-container .tab.delete {
  background: #A52222;
  cursor: pointer;
}

div#page-body.edit form div.input .tab-container .tab.minimize:hover,
div#page-body.edit form div.input.minimized .tab-container .tab.minimize,
div#page-body.edit form div.input .tab-container .tab.reusable:hover,
div#page-body.edit form div.input.reusable .tab-container .tab.reusable {
  background: #000;
  cursor: pointer;
}


div#page-body.edit form div.input table {
  width: 100%;
  border: 1px solid #B4B4B4;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
  border-spacing: 0;
  overflow: hidden;
  transition: .3s;
}

div#page-body.edit form div.input.marked-deletion  table {
  background: #CC6262;
}

div#page-body.edit form div.input.marked-deletion  table td {
  opacity: 0.6;
}

div#page-body.edit form div.input.marked-deletion  table td,
div#page-body.edit form div.input.minimized  table td {
  border-color: transparent !important;
}

div#page-body.edit form div.input.marked-deletion  table td.body,
div#page-body.edit form div.input.marked-deletion  table td.reg-item,
div#page-body.edit form div.input.minimized  table td.body,
div#page-body.edit form div.input.minimized table td.reg-item {
  display: none;
}

div#page-body.edit form div.input table td {
  padding: 12px 18px;
  background: #F7F5F5;
  transition: .3s;
}

div#page-body.edit form div.input table tr td:nth-child(2) {
  vertical-align: top;
  border-left: 1px dotted #ccc;
}

div#page-body.edit form div.input table tr:nth-child(2) td,
div#page-body.edit form div.input table tr:nth-child(3) td {
  border-bottom: 1px dotted #ddd;
}

div#page-body.edit form div.input table tr:first-child td {
  background: #E9E9E9;
  cursor: move;
  font-size: 1.1em;
  border-bottom: 1px dotted #A8A8A8;
}

div#page-body.edit form input[type="text"] {
  padding: 5px 6px;
  border: 1px solid #d7d7d7;
  border-bottom: 1px solid #999;
}

div#page-body.edit form div.input table td textarea,
div#page-body.edit form div.input table td input[type="text"],
div#page-body.edit form div.input table td select {
  width: 100%;
  padding: 5px 6px;
}

/** CKEeditor **/

div#page-body.edit form div.input table .cke_chrome { 
  border: 1px solid #bebebe;
  margin: 10px 0 -10px;
  box-shadow: none;
  border: none;
}

div#page-body.edit form div.input table .cke_inner { 
  background: transparent;
}

div#page-body.edit form div.input table .cke_top { 
  background: transparent;
  box-shadow: none;
  padding: 1px 0;
  /* background-image: -webkit-gradient(linear,left top,left bottom,from(#F7F5F5),to(#eee)); */
}

div#page-body.edit form div.input table .cke_contents { 
  border-left: 1px solid #b4b4b4;
  border-right: 1px solid #b4b4b4;
}

div#page-body.edit form div.input table  .cke_wysiwyg_frame.cke_reset {
  width: 100% !important;
}

div#page-body.edit form div.input table .cke_bottom { 
  background: transparent;
  box-shadow: none;
}

div#page-body form div.input table label {
  margin-bottom: 5px;
  font-size: .95em;
}

div#page-body.edit form div.input table td.header-image img {
  float: right;
  margin: -12px 11px -100px 0;
  max-height: 100px;
  max-width: 50%;
}

div#page-body.edit div.add-new {
  text-align: center;
  color: #fff;
  background: #4f4f4f;
  padding: 9px 0px;
  font-family: Roboto;
  font-weight: 300;
  font-size: .9em;
  margin-top: 12px;
}

div#page-body.edit div.add-new:hover {
  cursor: pointer;
  background: #333;
}

div#page-body.edit  div.save-area {
  margin-top: 18px;
  border-top: 1px dotted #777;
}


div#page-body.edit #save-button {
  margin: 18px 0;
  padding: 10px 15px;
  background: rgb(2, 156, 2);
  color: #fff;
  font-family: Roboto;
  font-weight: 400;
  letter-spacing: .5px;
  text-align: center;
  border: 1px solid rgb(0, 61, 0);
}

div#page-body.edit #save-button:hover {
  background: rgb(13, 177, 13);
  cursor: pointer;
  border: 1px solid transparent;
}

div#page-body.view #newsletter-html {
  margin: 0 auto;
  width: 800px;
}

#render-info {
  max-width: 50%;
  width: 50%;
  min-width: 275px;
  vertical-align: top; 
  padding: 16px; 
  background: #eee; 
  border-right: 1px solid #c0c0c0;
}

#render-viewport {
  vertical-align: top; 
}

#render-viewport #viewport-inner {
  padding: 20px; 
  vertical-align: top; 
  height: 100%;
  overflow-y: scroll;
}

#render-info #html-output-area {
  height: 300px;
  width: 100%;
}

#render-info #send-email {
  margin: 10px 0;
  padding: 10px 0;
  border-top: 1px dotted #555;
}

#render-info label {
  display: block;
  margin-bottom: 2px;
  font-size: 0.9em;
}

#render-info .message {
  margin: 10px;
}

